.contact {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 20px;
}

.contact__title {
    font-size: 38px;
    margin: 0 0 40px 0;
}

.contact p {
    color: #000;
    font-weight: 700;
    margin: 0;
}

.contact p:not(:first-child) {
    margin-top: 5px;
}

.contact a {
    color: #000;
    text-decoration: none;
    line-height: normal;
}

@media only screen and (max-width: 767px) {
    .contact__title {
        font-size: 30px;
    }
}